body {
    background-color:rgb(210, 210, 210)
}
h1 {
    font-size: 60px;
    text-shadow:       
      3px 3px 3px #44d62c,
    -2px -2px 0 #44d62c,  
     2px -2px 0 #44d62c,
     -2px 2px 0 #44d62c,
      2px 2px 0 #44d62c;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 20px;
}
button {
    width: 150px;
    border-radius: 5px;
    background-color:black;
    color: #44d62c;
    border: 1px solid #44d62c;
    font-weight:bold;
    font-size: 18px;
}
button:hover {
    box-shadow: 3px 3px 5px rgb(50, 50, 50);
}
.black-jack {
    color: #ffffff;
    font-weight: bold;
    animation-name: rotate;
    animation-duration: 3s;
}
.bust {
    color: red;
    font-weight: bold;
    text-shadow:     
     2px  2px 1px #000000,
    -1px -1px 0 #000000,  
     1px -1px 0 #000000,
     -1px 1px 0 #000000,
      1px 1px 0 #000000;
      animation-name: rotate;
      animation-duration: 3s;
      letter-spacing: .5rem;
}
.hidden {
    display:none;
}
.poker-table {
    background-color:#44a07bff!important;
    padding: 12px;
}
.poker-table-front {
background-image:url(assets/poker-table-end.png);
width:100%;
background-size: 100% 100px;
bottom: 0;
height: 100px;
z-index: 1;
}
/***** Animation *****/
@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
